<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mars Data</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</head>

<body>
  <div class="container-fluid">

    <div class="jumbotron text-center">
      <h1><strong>Mission to Mars</strong> </h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape New Data</a></p>
    </div>

    
    
    <div class="container">

      <div class = "news " style = "margin-left:0px">
        <h1><strong>Latest Mars News</strong> </h1>
        <h3><strong>{{ mars_info.news_title }}</strong></h3>
        <h4>{{ mars_info.news_p }}</h4>
      </div>


      <div class= "row" style = "margin-top:20px">
          <div class="col-sm-8" style="margin-top: 20px">
              <h1><strong>Featured Mars Image</strong> </h1>
              <img src="{{ mars_info.featured_image_url }}" alt="Sloth" style='height: 100%; width: 100%; object-fit: contain'>
          </div>

          <div class="col-sm-4">
            <div class = "weather" style="margin-top: 20px;padding: 10px; border:1px solid rgb(206, 202, 202); ">
              <h3><strong>Current Weather on Mars</strong></h3>
              <h4 style="line-height:150%">{{ mars_info.mars_weather }}</h4>
            </div>

            <div class = "facts" style="margin-top:30px">
                <h3 style="margin-bottom: 10px"><strong>Mars Facts</strong></h3>        
                
                <table border="1" class="dataframe" style="text-align: center; width:100%; font-size: 12px;border-spacing:15px" >  <thead>    <tr style="text-align: center;">      <th>Description</th>      <th>Value</th>    </tr>  </thead>  <tbody>    <tr>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>
              
                
            </div>
              
           </div>

       </div>
      </div>

      <div class = "container" style='margin-top: 60px'>
         <h1 style="margin-bottom: 20px;text-align: center;"><strong>Mars Hemispheres</strong> </h1>
         
         <div class= "row" >

           <div class="col-sm-6" >   
             <div style="padding: 10px; border:1px solid rgb(206, 202, 202); ">
               <img src="{{ mars_info.hemisphere_image_urls[0].img_url }}" alt="Sloth" style=' height: 100%; width: 100%; object-fit: contain'>
               <h3 style="margin-top: 10px"><strong>{{ mars_info.hemisphere_image_urls[0].title }}</strong></h3>
             </div>         
              
           </div>

           <div class="col-sm-6 " >            
              <div style=" margin-left:10px; padding: 10px; border:1px solid rgb(206, 202, 202); ">
                  <img src="{{ mars_info.hemisphere_image_urls[1].img_url }}" alt="Sloth" style=' height: 100%; width: 100%; object-fit: contain'>
                  <h3 style="margin-top: 10px"><strong>{{ mars_info.hemisphere_image_urls[1].title }}</strong></h3>
                </div>
           </div>
          
        </div>

        <div class= "row" style="margin-top: 25px">

            <div class="col-sm-6" >   
                <div style="padding: 10px; border:1px solid rgb(206, 202, 202); ">
                  <img src="{{ mars_info.hemisphere_image_urls[2].img_url }}" alt="Sloth" style=' height: 100%; width: 100%; object-fit: contain'>
                  <h3 style="margin-top: 10px"><strong>{{ mars_info.hemisphere_image_urls[2].title }}</strong></h3>
                </div>         
                 
              </div>
   
              <div class="col-sm-6 " >            
                 <div style=" margin-left:10px; padding: 10px; border:1px solid rgb(206, 202, 202); ">
                     <img src="{{ mars_info.hemisphere_image_urls[3].img_url }}" alt="Sloth" style=' height: 100%; width: 100%; object-fit: contain'>
                     <h3 style="margin-top: 10px"><strong>{{ mars_info.hemisphere_image_urls[3].title }}</strong></h3>
                   </div>
              </div>
           
         </div>

       </div>
       
    
    
  
  </div>
</body>

</html>
